.canvas {
	display: block;
	width: 800px;
	height: 800px;
	outline: 1px solid;
	margin: auto;
	background-color: white;
	 
}

.controls {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.control {
    padding: 10px 30px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #141ae2, #080806a8);
    outline: none;
    border: none;
    color: #f7f7f7;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}